(
"a-sinh",
"aa-sinh",
"ae-sinh",
"aae-sinh",
"i-sinh",
"ii-sinh",
"u-sinh",
"uu-sinh",
"vocalicr-sinh",
"vocalicrr-sinh",
"vocalicl-sinh",
"vocalicll-sinh",
"e-sinh",
"ee-sinh",
"ai-sinh",
"o-sinh",
"oo-sinh",
"au-sinh",
"aasign-sinh",
"aesign-sinh",
"aaesign-sinh",
"isign-sinh",
"iisign-sinh",
"usign-sinh",
"uusign-sinh",
"vocalicrsign-sinh",
"vocalicrrsign-sinh",
"vocaliclsign-sinh",
"vocalicllsign-sinh",
"esign-sinh",
"eesign-sinh",
"aisign-sinh",
"osign-sinh",
"oosign-sinh",
"ausign-sinh",
"ka-sinh",
"kha-sinh",
"ga-sinh",
"gha-sinh",
"nga-sinh",
"nnga-sinh",
"ca-sinh",
"cha-sinh",
"ja-sinh",
"jha-sinh",
"nya-sinh",
"jnya-sinh",
"nyja-sinh",
"tta-sinh",
"ttha-sinh",
"dda-sinh",
"ddha-sinh",
"nna-sinh",
"nndda-sinh",
"ta-sinh",
"tha-sinh",
"da-sinh",
"dha-sinh",
"na-sinh",
"nda-sinh",
"pa-sinh",
"pha-sinh",
"ba-sinh",
"bha-sinh",
"ma-sinh",
"mba-sinh",
"ya-sinh",
"ra-sinh",
"la-sinh",
"va-sinh",
"sha-sinh",
"ssa-sinh",
"sa-sinh",
"ha-sinh",
"lla-sinh",
"fa-sinh",
"kVa-sinh",
"kSsa-sinh",
"gDha-sinh",
"nyCa-sinh",
"ttTtha-sinh",
"tTha-sinh",
"tVa-sinh",
"dDha-sinh",
"dVa-sinh",
"nTha-sinh",
"nDa-sinh",
"nDha-sinh",
"nVa-sinh",
"anusvaraya-sinh",
"visargaya-sinh",
"virama-sinh",
kunddaliya,
NULL,
CR,
space,
zerowidthjoiner,
"repha-sinh",
snYAc2,
snRAc2,
"rAe-sinh",
"rAae-sinh",
"kh-sinh",
"ng-sinh",
"c-sinh",
"ch-sinh",
"j-sinh",
"jh-sinh",
"nyj-sinh",
"tt-sinh",
"tth-sinh",
"dd-sinh",
"ddh-sinh",
"nndd-sinh",
"th-sinh",
"dh-sinh",
"ph-sinh",
"b-sinh",
"m-sinh",
"mb-sinh",
"r-sinh",
"v-sinh",
"kV-sinh",
"gDh-sinh",
"nyC-sinh",
"ttTth-sinh",
"tTh-sinh",
"tV-sinh",
"dDh-sinh",
"dV-sinh",
"nTh-sinh",
"nDh-sinh",
"nV-sinh",
"khI-sinh",
"ngI-sinh",
"cI-sinh",
"chI-sinh",
"jI-sinh",
"jhI-sinh",
"nyjI-sinh",
"ttI-sinh",
"tthI-sinh",
"ddI-sinh",
"ddhI-sinh",
"nnI-sinh",
"nnddI-sinh",
"thI-sinh",
"dI-sinh",
"dhI-sinh",
"phI-sinh",
"bI-sinh",
"mI-sinh",
"mbI-sinh",
"rI-sinh",
"vI-sinh",
"kVI-sinh",
"gDhI-sinh",
"nyCI-sinh",
"ttTthI-sinh",
"tThI-sinh",
"tVI-sinh",
"dDhI-sinh",
"dVI-sinh",
"nThI-sinh",
"nDhI-sinh",
"nVI-sinh",
"khIi-sinh",
"ngIi-sinh",
"cIi-sinh",
"chIi-sinh",
"jIi-sinh",
"jhIi-sinh",
"nyjIi-sinh",
"ttIi-sinh",
"tthIi-sinh",
"ddIi-sinh",
"ddhIi-sinh",
"nnIi-sinh",
"nnddIi-sinh",
"thIi-sinh",
"dIi-sinh",
"dhIi-sinh",
"phIi-sinh",
"bIi-sinh",
"mIi-sinh",
"mbIi-sinh",
"rIi-sinh",
"vIi-sinh",
"kVIi-sinh",
"gDhIi-sinh",
"nyCIi-sinh",
"ttTthIi-sinh",
"tThIi-sinh",
"tVIi-sinh",
"dDhIi-sinh",
"dVIi-sinh",
"nThIi-sinh",
"nDhIi-sinh",
"nVIi-sinh",
"kU-sinh",
"gU-sinh",
"nngU-sinh",
"nyU-sinh",
"jnyU-sinh",
"tU-sinh",
"dU-sinh",
"nU-sinh",
"ndU-sinh",
"bhU-sinh",
"rU-sinh",
"lU-sinh",
"shU-sinh",
"hU-sinh",
"llU-sinh",
"nDU-sinh",
"kUu-sinh",
"gUu-sinh",
"nngUu-sinh",
"nyUu-sinh",
"jnyUu-sinh",
"tUu-sinh",
"dUu-sinh",
"nUu-sinh",
"ndUu-sinh",
"bhUu-sinh",
"rUu-sinh",
"lUu-sinh",
"shUu-sinh",
"hUu-sinh",
"llUu-sinh",
"nDUu-sinh",
"nyRa-sinh",
"jnyRa-sinh",
"dRa-sinh",
"ndRa-sinh",
"phRa-sinh",
"llRa-sinh",
"nDRa-sinh",
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcommaaccent,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
j,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
f_f,
f_f_i,
f_f_l,
fi,
fl,
ordfeminine,
ordmasculine,
pi,
tmA,
tmAA,
tmI,
tmII,
tmU,
tmUU,
tmE,
tmEE,
tmAI,
tmO,
tmOO,
tmAU,
tmKA,
tmNGA,
tmCA,
tmJA,
tmNYA,
tmTTA,
tmNNA,
tmTA,
tmNA,
tmNNNA,
tmPA,
tmMA,
tmYA,
tmRA,
tmRRA,
tmLA,
tmLLA,
tmLLLA,
tmVA,
tmSHA,
tmSSA,
tmSA,
tmHA,
tmOm,
tmVisarga,
tmTen,
tmOnehundred,
tmOnethousand,
tmZero,
tmOne,
tmTwo,
tmThree,
tmFour,
tmFive,
tmSix,
tmSeven,
tmEight,
tmNine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
nbspace,
plus,
multiply,
divide,
equal,
greater,
less,
percent,
space.001,
period,
comma,
colon,
semicolon,
exclam,
question,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
ellipsis,
exclamdown,
questiondown,
softhyphen,
braceleft,
braceright,
quotesinglbase,
quotedblbase,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
florin,
tmDay,
tmMonth,
tmYear,
tmDebit,
tmCredit,
tmAsabove,
tmNumber,
tmRupee,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
litre,
daggerdbl,
estimated,
Euro,
cent,
currency,
dollar,
ruble,
sterling,
yen,
bulletoperator,
divisionslash,
minus,
notequal,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Omega.math,
Delta.math,
product,
summation,
radical,
mu.math,
partialdiff,
perthousand,
lozenge,
"usign-sinh.01",
"usign-sinh.02",
"usign-sinh.03",
"uusign-sinh.01",
"uusign-sinh.02",
"uusign-sinh.03",
tmmII,
tmAnusvara,
tmmAA,
tmmI,
tmmU,
tmmUU,
tmmE,
tmmEE,
tmmAI,
tmmO,
tmmOO,
tmmAU,
tmAUlengthmark,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
macronmod,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
mooniak,
tmCI,
tmCII,
tmCU,
tmCUU,
tmHI,
tmHII,
tmHU,
tmHUU,
tmJI,
tmJII,
tmJU,
tmJUU,
tmKI,
tmKII,
tmKSSA,
tmKSSI,
tmKSSII,
tmKSSU,
tmKSSUU,
tmKU,
tmKUU,
tmLI,
tmLII,
tmLLI,
tmLLII,
tmLLLI,
tmLLLII,
tmLLLU,
tmLLLUU,
tmLLU,
tmLLUU,
tmLU,
tmLUU,
tmMI,
tmMII,
tmMU,
tmMUU,
tmNGI,
tmNGII,
tmNGU,
tmNGUU,
tmNI,
tmNII,
tmNNI,
tmNNII,
tmNNNI,
tmNNNII,
tmNNNU,
tmNNNUU,
tmNNU,
tmNNUU,
tmNU,
tmNUU,
tmNYI,
tmNYII,
tmNYU,
tmNYUU,
tmPI,
tmPII,
tmPU,
tmPUU,
tmRI,
tmRII,
tmRRI,
tmRRII,
tmRRU,
tmRRUU,
tmRU,
tmRUU,
tmSHI,
tmSHII,
tmSHRII,
tmSHU,
tmSHUU,
tmSI,
tmSII,
tmSSI,
tmSSII,
tmSSU,
tmSSUU,
tmSU,
tmSUU,
tmTI,
tmTII,
tmTTI,
tmTTII,
tmTTU,
tmTTUU,
tmTU,
tmTUU,
tmVI,
tmVII,
tmVU,
tmVUU,
tmVirama,
tmYI,
tmYII,
tmYU,
tmYUU,
"touch-sinh",
turkishlira,
snRAc2.01,
snRAc2.02,
snRAc2.03,
snRAc2.04,
snRAc2.05,
snRAc2.06,
snRAc2.07,
snRAc2.08,
snRAc2.09,
tmHA.alt,
tmKSSA.alt,
tmLAI.traditional,
tmLLAI.traditional,
tmNNAA.traditional,
tmNNAI.traditional,
tmNNNAA.traditional,
tmNNNAI.traditional,
tmRA.alt,
tmRI.alt,
tmRII.alt,
tmRRAA.traditional,
tmmAI.traditional
)