(
snA,
snAA,
snAE,
snAAE,
snI,
snII,
snU,
snUU,
snvR,
snvRR,
snvL,
snvLL,
snE,
snEE,
snAI,
snO,
snOO,
snAU,
snmAA,
snmAE,
snmAAE,
snmI,
snmII,
snmU,
snmUU,
snmvR,
snmvRR,
snmvL,
snmvLL,
snmE,
snmEE,
snmAI,
snmO,
snmOO,
snmAU,
snKA,
snKHA,
snGA,
snGHA,
snNGA,
snNNGA,
snCA,
snCHA,
snJA,
snJHA,
snNYA,
snJNYA,
snNYJA,
snTTA,
snTTHA,
snDDA,
snDDHA,
snNNA,
snNNDDA,
snTA,
snTHA,
snDA,
snDHA,
snNA,
snNDA,
snPA,
snPHA,
snBA,
snBHA,
snMA,
snMBA,
snYA,
snRA,
snLA,
snVA,
snSHA,
snSSA,
snSA,
snHA,
snLLA,
snFA,
snK_VA,
snK_SSA,
snG_DHA,
snNY_CA,
snTT_TTHA,
snT_THA,
snT_VA,
snD_DHA,
snD_VA,
snN_THA,
snN_DA,
snN_DHA,
snN_VA,
snAnusvara,
snVisarga,
snVirama,
snKunddaliya,
space,
zerowidthjoiner,
snReph,
snYAc2,
snRAc2,
snRA_mAE,
snRA_mAAE,
snKHA_Virama,
snNGA_Virama,
snCA_Virama,
snCHA_Virama,
snJA_Virama,
snJHA_Virama,
snNYJA_Virama,
snTTA_Virama,
snTTHA_Virama,
snDDA_Virama,
snDDHA_Virama,
snNNDDA_Virama,
snTHA_Virama,
snDHA_Virama,
snPHA_Virama,
snBA_Virama,
snMA_Virama,
snMBA_Virama,
snRA_Virama,
snVA_Virama,
snK_VA_Virama,
snG_DHA_Virama,
snNY_CA_Virama,
snTT_TTHA_Virama,
snT_THA_Virama,
snT_VA_Virama,
snD_DHA_Virama,
snD_VA_Virama,
snN_THA_Virama,
snN_DHA_Virama,
snN_VA_Virama,
snKHA_mI,
snNGA_mI,
snCA_mI,
snCHA_mI,
snJA_mI,
snJHA_mI,
snNYJA_mI,
snTTA_mI,
snTTHA_mI,
snDDA_mI,
snDDHA_mI,
snNNA_mI,
snNNDDA_mI,
snTHA_mI,
snDA_mI,
snDHA_mI,
snPHA_mI,
snBA_mI,
snMA_mI,
snMBA_mI,
snRA_mI,
snVA_mI,
snK_VA_mI,
snG_DHA_mI,
snNY_CA_mI,
snTT_TTHA_mI,
snT_THA_mI,
snT_VA_mI,
snD_DHA_mI,
snD_VA_mI,
snN_THA_mI,
snN_DHA_mI,
snN_VA_mI,
snKHA_mII,
snNGA_mII,
snCA_mII,
snCHA_mII,
snJA_mII,
snJHA_mII,
snNYJA_mII,
snTTA_mII,
snTTHA_mII,
snDDA_mII,
snDDHA_mII,
snNNA_mII,
snNNDDA_mII,
snTHA_mII,
snDA_mII,
snDHA_mII,
snPHA_mII,
snBA_mII,
snMA_mII,
snMBA_mII,
snRA_mII,
snVA_mII,
snK_VA_mII,
snG_DHA_mII,
snNY_CA_mII,
snTT_TTHA_mII,
snT_THA_mII,
snT_VA_mII,
snD_DHA_mII,
snD_VA_mII,
snN_THA_mII,
snN_DHA_mII,
snN_VA_mII,
snKA_mU,
snGA_mU,
snNNGA_mU,
snNYA_mU,
snJNYA_mU,
snTA_mU,
snDA_mU,
snNA_mU,
snNDA_mU,
snBHA_mU,
snRA_mU,
snLA_mU,
snSHA_mU,
snHA_mU,
snLLA_mU,
snN_DA_mU,
snKA_mUU,
snGA_mUU,
snNNGA_mUU,
snNYA_mUU,
snJNYA_mUU,
snTA_mUU,
snDA_mUU,
snNA_mUU,
snNDA_mUU,
snBHA_mUU,
snRA_mUU,
snLA_mUU,
snSHA_mUU,
snHA_mUU,
snLLA_mUU,
snN_DA_mUU,
snNY_RA,
snJNY_RA,
snD_RA,
snND_RA,
snPH_RA,
snLL_RA,
snN_D_RA,
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcommaaccent,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
j,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
f_f,
f_f_i,
f_f_l,
fi,
fl,
ordfeminine,
ordmasculine,
pi,
tmA,
tmAA,
tmI,
tmII,
tmU,
tmUU,
tmE,
tmEE,
tmAI,
tmO,
tmOO,
tmAU,
tmKA,
tmNGA,
tmCA,
tmJA,
tmNYA,
tmTTA,
tmNNA,
tmTA,
tmNA,
tmNNNA,
tmPA,
tmMA,
tmYA,
tmRA,
tmRRA,
tmLA,
tmLLA,
tmLLLA,
tmVA,
tmSHA,
tmSSA,
tmSA,
tmHA,
tmOm,
tmVisarga,
tmTen,
tmOnehundred,
tmOnethousand,
tmZero,
tmOne,
tmTwo,
tmThree,
tmFour,
tmFive,
tmSix,
tmSeven,
tmEight,
tmNine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
nonbreakingspace,
plus,
multiply,
divide,
equal,
greater,
less,
percent,
space.001,
period,
comma,
colon,
semicolon,
exclam,
question,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
ellipsis,
exclamdown,
questiondown,
softhyphen,
braceleft,
braceright,
quotesinglbase,
quotedblbase,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
florin,
tmDay,
tmMonth,
tmYear,
tmDebit,
tmCredit,
tmAsabove,
tmNumber,
tmRupee,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
litre,
daggerdbl,
estimated,
Euro,
cent,
currency,
dollar,
ruble,
sterling,
yen,
bulletoperator,
divisionslash,
minus,
notequal,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Omega.math,
Delta.math,
product,
summation,
radical,
mu.math,
partialdiff,
perthousand,
lozenge,
tmmII,
tmAnusvara,
tmmAA,
tmmI,
tmmU,
tmmUU,
tmmE,
tmmEE,
tmmAI,
tmmO,
tmmOO,
tmmAU,
tmAUlengthmark,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
macronmod,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
snTouch,
tmCI,
tmCII,
tmCU,
tmCUU,
tmHI,
tmHII,
tmHU,
tmHUU,
tmJI,
tmJII,
tmJU,
tmJUU,
tmKI,
tmKII,
tmKSSA,
tmKSSI,
tmKSSII,
tmKSSU,
tmKSSUU,
tmKU,
tmKUU,
tmLI,
tmLII,
tmLLI,
tmLLII,
tmLLLI,
tmLLLII,
tmLLLU,
tmLLLUU,
tmLLU,
tmLLUU,
tmLU,
tmLUU,
tmMI,
tmMII,
tmMU,
tmMUU,
tmNGI,
tmNGII,
tmNGU,
tmNGUU,
tmNI,
tmNII,
tmNNI,
tmNNII,
tmNNNI,
tmNNNII,
tmNNNU,
tmNNNUU,
tmNNU,
tmNNUU,
tmNU,
tmNUU,
tmNYI,
tmNYII,
tmNYU,
tmNYUU,
tmPI,
tmPII,
tmPU,
tmPUU,
tmRI,
tmRII,
tmRRI,
tmRRII,
tmRRU,
tmRRUU,
tmRU,
tmRUU,
tmSHI,
tmSHII,
tmSHRII,
tmSHU,
tmSHUU,
tmSI,
tmSII,
tmSSI,
tmSSII,
tmSSU,
tmSSUU,
tmSU,
tmSUU,
tmTI,
tmTII,
tmTTI,
tmTTII,
tmTTU,
tmTTUU,
tmTU,
tmTUU,
tmVI,
tmVII,
tmVU,
tmVUU,
tmVirama,
tmYI,
tmYII,
tmYU,
tmYUU,
turkishlira,
snRAc2.01,
snRAc2.02,
snRAc2.03,
snRAc2.04,
snRAc2.05,
snRAc2.06,
snRAc2.07,
snRAc2.08,
snRAc2.09,
snmU.01,
snmU.02,
snmU.03,
snmUU.01,
snmUU.02,
snmUU.03,
tmHA.alt,
tmKSSA.alt,
tmLAI.traditional,
tmLLAI.traditional,
tmNNAA.traditional,
tmNNAI.traditional,
tmNNNAA.traditional,
tmNNNAI.traditional,
tmRA.alt,
tmRI.alt,
tmRII.alt,
tmRRAA.traditional,
tmmAI.traditional
)